# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
.venv/
venv/
env/
ENV/

# =========================
# Environment variables / secrets
# =========================
.env
.env.*
*.env

# =========================
# Build / packaging
# =========================
build/
dist/
*.egg-info/
.eggs/
*.egg

# =========================
# Logs & temp files
# =========================
*.log
*.tmp
*.temp

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# IDE / Editor files
# =========================
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# =========================
# Database files
# =========================
*.sqlite3


# =========================
# Testing / coverage
# =========================
.coverage
htmlcov/
.pytest_cache/

# =========================
# Misc
# =========================
*.bak
*.backup
